/* Hobbies Section Styles */
.hobbies-section {
    flex-basis: 70%; /* Take 70% of the width */
    margin-left: 2%; /* Space between profile and account */
    margin-right: 5%;
    border-radius: 10px;
    color: #e0e0e0;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* Hobbies Header Styles */
.hobbies-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.hobbies-header h2 {
    color: #4CAF50; /* Neon green */
    margin: 0px;
    font-size: 25px;
}