apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.deployment.name }}
spec:
  replicas: {{ .Values.deployment.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.deployment.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.deployment.name }}
    spec:
      imagePullSecrets:
      - name: {{ .Values.deployment.docker.secret }}
      containers:
      - name: {{ .Values.deployment.name }}
        image: {{ .Values.deployment.docker.image}}:{{$.Values.deployment.docker.tag}}
        ports:
        - containerPort: {{ .Values.deployment.port }}
        env:
        - name: PYTHONUNBUFFERED
          value: "1"
        - name: APP_PORT
          value: {{ .Values.app.port | quote }}
        - name: APP_HOST
          value: {{ .Values.app.host | quote }}
        - name: DB_API_URL
          value: {{ .Values.app.api.db_url }}
        - name: PICTURE_API_URL
          value: {{ .Values.app.api.picture_url }}
        - name: OTEL_COLLECTOR_URL
          value: {{ .Values.app.otel.collector.endpoint }}