{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/hobby/delete.css') }}">
{% endblock %}

{% block content %}

<!-- Hobbies Section -->
<div class="hobbies-section">
    <h2 class="hobby-title">Delete Hobby: {{ hobby.HOBBY_NAME }}</h2> <!-- Updated Position -->
    <form action="" method="POST">
        {{ buttons.submit('Confirm deletion!') }}
        {{ buttons.red(url_for('hobby.view', hobby_id=hobby.HOBBY_ID), 'Cancel') }}
    </form>
</div>

{% endblock %}