{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/account/hobbies/hobbies.css') }}">
{% endblock %}
{% block content %}
<!-- Main Content Section -->
{% include 'components/account.html' %}


<div class="hobbies-section">

    <div class="tutored-hobbies">
        <div class="hobbies-header">
            <h2>Hobbies</h2>
            {{ buttons.redirect('/account/hobbies/hobby/add', 'Add a Hobby') }}
        </div>
        {% include 'components/hobbies_list.html' %}
    </div>
</div>
{% endblock %}
