{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/account/profile/profile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/account/hobbies/hobbies.css') }}">
{% endblock %}

{% block content %}
<!-- Main Content Section -->
{% include 'components/account.html' %}


<!-- Profile Section -->
<div class="hobbies-section">
    <!-- Non-Tutored Hobbies Section -->
    <div class="non-tutored-hobbies">
        <div class="hobbies-header">
            <h2>My Hobbies</h2>
            <a href="/account/hobbies/hobby/add" class="add-hobby-button">Add a Hobby</a>
        </div>
        <div class="hobbies-list">
            {% if hobbies|selectattr('HOBBY_TUTORING', 'equalto', false) | list | length == 0 %}
            <div class="no-hobbies-message">
                <p>No hobbies yet</p>
            </div>
            {% else %}
            {% for hobby in hobbies %}
            {% if hobby.HOBBY_TUTORING == false %}
            <a href="/account/hobbies/hobby/{{ hobby.HOBBY_ID }}" class="hobby-tile">
                <div class="hobby-tile-content">
                    <h3>{{ hobby.HOBBY_NAME }}</h3>
                    <p><strong>Proficiency:</strong> {{ hobby.HOBBY_PROFICIENCY }}</p>
                    <p><strong>Experience:</strong> {{ hobby.EXPERIENCE_YEARS }} years and {{
                        hobby.EXPERIENCE_MONTHS }} months</p>
                </div>
            </a>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- Tutored Hobbies Section -->
    <div class="tutored-hobbies">
        <div class="hobbies-header">
            <h2>Tutored Hobbies</h2>
        </div>
        <div class="hobbies-list">
            {% if hobbies|selectattr('HOBBY_TUTORING', 'equalto', true) | list | length == 0 %}
            <div class="no-hobbies-message">
                <p>No hobbies yet</p>
            </div>
            {% else %}
            {% for hobby in hobbies %}
            {% if hobby.HOBBY_TUTORING == true %}
            <a href="/account/hobbies/hobby/{{ hobby.HOBBY_ID }}" class="hobby-tile">
                <div class="hobby-tile-content">
                    <h3>{{ hobby.HOBBY_NAME }}</h3>
                    <p><strong>Description:</strong> {{ hobby.HOBBY_DESCRIPTION }}</p>
                    <p><strong>Proficiency:</strong> {{ hobby.HOBBY_PROFICIENCY }}</p>
                    <p><strong>Experience:</strong> {{ hobby.EXPERIENCE_YEARS }} years and {{
                        hobby.EXPERIENCE_MONTHS }} months</p>
                </div>
            </a>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}