{% macro redirect(href, text) %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/buttons/standard.css') }}">
    <!-- Header Section -->
    <a href="{{ href }}" class="button">{{ text }}</a>
{% endmacro %}

{% macro back(href, text) %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/buttons/back.css') }}">
    <!-- Header Section -->
    <a href="{{ href }}" class="back-button">{{ text }}</a>
{% endmacro %}

{% macro red(href, text) %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/buttons/red.css') }}">
    <!-- Header Section -->
    <a href="{{ href }}" class="red-button">{{ text }}</a>
{% endmacro %}

{% macro submit(text) %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/buttons/standard.css') }}">
    <!-- Header Section -->
    <button type="submit" class="button">{{ text }}</button>
{% endmacro %}