/* Image Upload Section */
.image-upload-section {
    flex-basis: 70%; /* Take 70% of the width */
    margin-left: 2%; /* Space between sections */
    margin-right: 5%;
    border-radius: 10px;
    color: #e0e0e0; /* Text color */
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Spacing between elements */
}

/* Section Header */
.image-upload-section h1 {
    font-size: 24px;
    color: #4CAF50; /* Neon green */
    margin: 0px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(76, 175, 80, 0.4);
}

/* Form Container */
.image-upload {
    padding: 20px;
    background: rgba(30, 30, 30, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between input and buttons */
    justify-content: center;
    align-items: center;
}

/* Label */
.image-upload label {
    font-size: 16px;
    color: #e0e0e0;
    align-self: flex-start;
    margin-bottom: 8px;
}

/* File Input */
.image-upload input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #e0e0e0;
    background: rgba(50, 50, 50, 0.9);
    border: 1px solid #4CAF50; /* Neon green border */
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.image-upload input[type="file"]:focus {
    outline: none;
    border-color: #388e3c;
}

/* Submit Button */
.image-upload button, .image-upload input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50; /* Neon green */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.image-upload button:hover, .image-upload input[type="submit"]:hover {
    background-color: #388e3c;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .image-upload-section {
        flex-basis: 100%;
        margin: 0 auto 20px;
        width: 100%;
        height: auto;
    }
}
