/* Image Upload Section */
.image-upload-section {
    flex-basis: 70%;
    /* Take 70% of the width */
    margin-left: 2%;
    /* Space between sections */
    margin-right: 5%;
    border-radius: 10px;
    color: #e0e0e0;
    /* Text color */
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Spacing between elements */
}

/* Section Header */
.image-upload-section h1 {
    font-size: 24px;
    color: #4CAF50;
    /* Neon green */
    margin: 0px;
    padding-bottom: 10px;
}

#upload-area {
    height: 300px;
    border: 2px dashed rgba(43, 43, 43, 0.9);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 30, 30, 0.65);
}

#upload-area.dragover {
    border-color: #4CAF50;
    background-color: #243625;
}

#upload-area img {
    max-width: 100%;
    max-height: 150px;
    margin: 10px 0;
}

#upload-area p {
    color: #757575;
    font-size: 16px;
    margin: 0;
}

input[type="file"] {
    display: none;
}

/* Button Styling */
#upload-button {
    padding: 0.8em 1.6em;
    background-color: #4CAF50; /* Neon green */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9rem;
    text-align: center;
    white-space: nowrap; /* Prevent text wrapping */
    max-width: 150px; /* Limit maximum width */
    margin: 0 auto; /* Center button horizontally */
    transition: background 0.3s ease, transform 0.3s ease;
    cursor: pointer; /* Add pointer cursor for buttons */
}

#upload-button:hover {
    background-color: #388e3c;
    transform: scale(1.05); /* Hover scale effect */
}

#upload-button:disabled {
    background-color: #757575; /* Gray background for disabled state */
    cursor: not-allowed; /* Change cursor to indicate non-clickable */
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .image-upload-section {
        flex-basis: 100%;
        margin: 0 auto 20px;
        width: 100%;
        height: auto;
    }
}
