<link rel="stylesheet" href="{{ url_for('static', filename='css/components/account.css') }}">
<!-- Header Section -->
<div class="account-section">
    <div class="account-profile-section">
        <div class="profile-picture-reg {% if user.USER_TUTOR %}profile-picture-tutor{% endif %}">
            {% if default_image %}
            <img src="{{ url_for('static', filename=default_image) }}" alt="Profile Picture">
            {% endif %}
            {% if encoded_image %}
            <img src="data:image/jpeg;base64,{{ encoded_image }}" alt="Image">
            {% endif %}
        </div>
        <div class="account-details">
            <h1>{{ user.USER_NAME }}</h1>
            <h3>{{ user.USER_EMAIL }}</h3>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li class="{% if request.path == '/account/profile' %}active{% endif %}"><a
                    href="/account/profile">Profile</a></li>
            <li class="{% if request.path == '/account/hobbies' %}active{% endif %}"><a
                    href="/account/hobbies">Hobbies</a></li>
            <li class="{% if request.path == '/account/sessions' %}active{% endif %}"><a
                    href="/account/sessions">Sessions</a></li>
            <li class="{% if request.path == '/account/payments' %}active{% endif %}"><a
                    href="/account/payments">Payments</a></li>
        </ul>
    </div>
    <div class="account-actions">
        {% if not user.USER_TUTOR %}
        {{ buttons.redirect('/account/become-tutor', 'Become Tutor') }}
        {% endif %}
        {{ buttons.logout() }}
    </div>
</div>