<link rel="stylesheet" href="{{ url_for('static', filename='css/components/header.css') }}">
<!-- Header Section -->
<header>
    <div class="logo">{{ config.name }}</div>
    <nav class="top-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/catalog">Tutoring Catalog</a></li>
            <li><a href="/account">My Account</a></li>
        </ul>
    </nav>
    <div class="profile-icon">
        {% if encoded_image %}
        <a href="/account/profile">
            <img src="data:image/jpeg;base64,{{ encoded_image }}" alt="Image">
        </a>
        {% else %}
            {{ buttons.redirect('/account/profile', 'Sign In') }}
        {% endif %}
    </div>
</header>