<link rel="stylesheet" href="{{ url_for('static', filename='css/components/header.css') }}">
<!-- Header Section -->
<header>
    <div class="logo">{{ config.name }}</div>
    <nav class="top-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('catalog.catalog') }}">Tutoring Catalog</a></li>
            <li><a href="{{ url_for('account.profile') }}">My Account</a></li>
        </ul>
    </nav>
    <div class="profile-icon">
        {% if encoded_image %}
        <a href="{{ url_for('account.profile') }}">
            <img src="data:image/jpeg;base64,{{ encoded_image }}" alt="Image">
        </a>
        {% else %}
            {{ buttons.redirect(url_for('auth.signin'), 'Sign In') }}
        {% endif %}
    </div>
</header>
<!-- Error message (only show if not empty) -->
{% if error_message and error_message != '' %}
    <div class="error-message">
        {{ error_message }}
    </div>
{% endif %}
<!-- Error message (only show if not empty) -->
{% if success_message and success_message != '' %}
    <div class="success-message">
        {{ success_message }}
    </div>
{% endif %}