apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.deployment.name }}
spec:
  replicas: {{ .Values.deployment.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.deployment.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.deployment.name }}
    spec:
      imagePullSecrets:
      - name: {{ .Values.deployment.docker.secret }}
      containers:
      - name: {{ .Values.deployment.name }}
        image: {{ .Values.deployment.docker.image}}:{{$.Values.deployment.docker.tag}}
        ports:
        - containerPort: {{ .Values.deployment.targetPort }}
        env:
        - name: PYTHONUNBUFFERED
          value: "1"
        - name: APP_PORT
          value: {{ .Values.deployment.port | quote }}
        - name: APP_HOSTNAME
          value: {{ .Values.deployment.domain }}