{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/account/hobbies/hobby/edit.css') }}">
{% endblock %}

{% block content %}

<!-- Hobbies Section -->
<div class="hobbies-section">
    <h2 class="hobby-title">Edit Hobby: {{ hobby.NAME }}</h2> <!-- Updated Position -->

    <!-- Hobby Input Form -->
    <div class="edit-hobby">
        <form action="/account/hobbies/hobby/edit/{{ hobby.HOBBY_ID }}" method="post" class="edit-hobby-form">
            <div class="input-group">
                <label for="hobby-name">Hobby Name</label>
                <input type="text" id="hobby-name" name="NAME" value="{{ hobby.NAME }}" required>
            </div>
            <div class="input-group">
                <label for="hobby-description">Hobby Description</label>
                <textarea id="hobby-description" name="DESCRIPTION" rows="4"
                    required>{{ hobby.DESCRIPTION }}</textarea>
            </div>
            <div class="input-group">
                <label for="hobby-proficiency">Hobby Proficiency</label>
                <select id="hobby-proficiency" name="PROFICIENCY" required>
                    <option value="Beginner" {% if hobby.proficiency=='Beginner' %}selected{% endif %}>Beginner
                    </option>
                    <option value="Intermediate" {% if hobby.proficiency=='Intermediate' %}selected{% endif %}>
                        Intermediate</option>
                    <option value="Expert" {% if hobby.proficiency=='Expert' %}selected{% endif %}>Expert
                    </option>
                </select>
            </div>
            <div class="input-group">
                <label for="experience-years">Experience (Years)</label>
                <input type="number" id="experience-years" name="EXPERIENCE_YEARS" value="{{ hobby.EXPERIENCE_YEARS }}"
                    min="0" required>
            </div>
            <div class="input-group">
                <label for="experience-months">Experience (Months)</label>
                <input type="number" id="experience-months" name="EXPERIENCE_MONTHS"
                    value="{{ hobby.EXPERIENCE_MONTHS }}" min="0" max="11" required>
            </div>
            {% if hobby.TUTORING %}
            <div class="input-group">
                <label for="tutor-rate">Hourly Rate</label>
                <input type="number" id="tutor-rate" name="HOURLY_RATE" 
                    value="{{ hobby.HOURLY_RATE }}" required>
            </div>

            <div class="input-group">
                <label for="tutoring-mode">Tutoring Mode</label>
                <div id="tutoring-mode">
                    <!-- Live Call -->
                    Live Call
                    <input 
                        type="checkbox" 
                        name="MODE_LIVE_CALL" 
                        value="true" 
                        {% if hobby.MODE_LIVE_CALL %} checked {% endif %}>
                    
                    <!-- Public In Person -->
                    Public In Person
                    <input 
                        type="checkbox" 
                        name="MODE_PUBLIC_IN_PERSON" 
                        value="true" 
                        {% if hobby.MODE_PUBLIC_IN_PERSON %} checked {% endif %}>
                    
                    <!-- Private In Person -->
                    Private In Person
                    <input 
                        type="checkbox" 
                        name="MODE_PRIVATE_IN_PERSON" 
                        value="true" 
                        {% if hobby.MODE_PRIVATE_IN_PERSON %} checked {% endif %}>
                </div>
            </div>
            {% endif %}
            {{ buttons.submit('Save Changes') }}
            {{ buttons.red('/account/hobbies/hobby/' ~ hobby.HOBBY_ID, 'Cancel') }}
        </form>
    </div>
</div>

{% endblock %}