{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/profile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/account/profile/edit/description.css') }}">
{% endblock %}

{% block content %}

<!-- Account Section -->
{% include 'components/account.html' %}
<!-- Description Section -->
<div class="description-section">
    <form action="/account/profile/edit/description" method="POST">
        <div class="description-about">
            <div class="input-group">
                <label for="about">About</label>
                <input type="text" id="USER_ABOUT" name="USER_ABOUT" value="{{ user.USER_ABOUT }}" required>
            </div>
        </div>
        <div class="description-info">
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="USER_NAME" name="USER_NAME" value="{{ user.USER_NAME if user.USER_NAME else '' }}" readonly><br><br>

                <label for="user-email">User Email:</label>
                <input type="email" id="USER_EMAIL" name="USER_EMAIL" value="{{ user.USER_EMAIL if user.USER_EMAIL else '' }}" readonly><br><br>

                <label for="first-name">First Name:</label>
                <input type="text" id="USER_FIRST_NAME" name="USER_FIRST_NAME" value="{{ user.USER_FIRST_NAME if user.USER_FIRST_NAME else '' }}" required><br><br>

                <label for="last-name">Last Name:</label>
                <input type="text" id="USER_LAST_NAME" name="USER_LAST_NAME" value="{{ user.USER_LAST_NAME if user.USER_LAST_NAME else '' }}" required><br><br>

            </div>
        </div>
        {{ buttons.submit('Save Changes') }}
    </form>
</div>

{% endblock %}