deployment:
  name: web-ui
  domain: hobbora.com
  docker:
    image: artemek47/web-ui
    tag: latest
    secret: docker.secret
  resources:
    cpu: 100m
    memory: 250Mi
  port: 80
  repllicas: 1

app:
  host: '0.0.0.0'
  port: 80
  api:
    db_url: "http://postgres-db-api-service.postgres.svc.cluster.local:8080"
    picture_url: "http://picture-api-service.minio.svc.cluster.local:3000"
  otel:
    collector:
      endpoint: http://otel-collector-service.otel-collector.svc.cluster.local:4318
