/* Main Section Styles */
.hobby-main-section {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Hobby Pictures Section Styles */
.hobby-pictures-section {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.pictures-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(150px, auto);
    gap: 10px;
    width: 100%;
}

.picture-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.picture-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* Hobby Title Section */
.hobby-title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.action-buttons-container {
    display: flex;
    gap: 10px;
}

/* Lower Section Layout */
.lower-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

/* Hobby Description and Tutor Section */
.hobby-description-section,
.tutor-section,
.upcoming-sessions-section,
.reviews-section {
    background-color: rgba(30, 30, 30, 0.65);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.upcoming-sessions-section ul,
.reviews-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.upcoming-sessions-section ul li,
.reviews-section li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(60, 60, 60, 0.8);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

.upcoming-sessions-section ul li:hover,
.reviews-section li:hover {
    background: rgba(80, 80, 80, 0.9);
}

h2 {
    margin: 0px;
    color: #4CAF50; /* Neon green */
    font-size: 25px;
}

h3 {
    margin: 0px;
    color: #4CAF50;
    font-size: 20px;
}


.greyed-out {
    color: #777;
}
/* Responsive Design */
@media screen and (max-width: 1000px) {
    .hobby-main-section {
        padding: 20px;
    }

    .pictures-gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .lower-section {
        grid-template-columns: 1fr;
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 600px) {
    .pictures-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
