/* Sign-In/Sign-Up Section */
.agreement-section {
    flex-grow: 1; /* Allows the section to fill the remaining space */
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Ensures it spans the full viewport height */
    box-sizing: border-box; /* Ensures padding doesn't affect centering */
}

.input-box {
    background: rgba(30, 30, 30, 0.65);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.input-box h2 {
    margin: 0px;
    font-size: 1.75rem;
    color: #e0e0e0;
    margin-bottom: 20px;
}
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #e0e0e0;
}

.input-group input, .input-group textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(60, 60, 60, 0.8);
    color: #e0e0e0;
    transition: border-color 0.3s;
}

.input-group input:focus, .input-group textarea:focus {
    border-color: #4CAF50; /* Neon Green */
    outline: none;
}

.button {
    margin-top: 30px;
    width: 100%;
}

/* --------------- Error Message ---------------------- */
.error-message {
    margin-top: 20px;
    padding: 10px;
    background: rgba(255, 80, 80, 0.2);
    color: #ff6f6f;
    border: 1px solid #ff6f6f;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}