<link rel="stylesheet" href="{{ url_for('static', filename='css/components/account.css') }}">
<!-- Header Section -->
<div class="account-section">
    <div class="account-profile-section">
        <div class="profile-picture-reg {% if user.TUTORING %}profile-picture-tutor{% endif %}">
            {% if default_image %}
            <img src="{{ url_for('static', filename=default_image) }}" alt="Profile Picture">
            {% endif %}
            {% if encoded_image %}
            <img src="data:image/jpeg;base64,{{ encoded_image }}" alt="Image">
            {% endif %}
        </div>
        <div class="account-details">
            <h1>{{ user.USERNAME }}</h1>
            <h3>{{ user.EMAIL }}</h3>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li class="{% if request.path == url_for('account.profile') %}active{% endif %}"><a
                    href="{{ url_for('account.profile') }}">Profile</a></li>
            <li class="{% if request.path == url_for('account.hobbies') %}active{% endif %}"><a
                    href="{{ url_for('account.hobbies') }}">Hobbies</a></li>
            <li class="{% if request.path == url_for('account.sessions') %}active{% endif %}"><a
                    href="{{ url_for('account.sessions') }}">Sessions</a></li>
            <li class="{% if request.path == url_for('account.payments') %}active{% endif %}"><a
                    href="{{ url_for('account.payments') }}">Payments</a></li>
        </ul>
    </div>
    <div class="account-actions">
        {% if not user.TUTORING %}
        {{ buttons.redirect(url_for('account.become_tutor'), 'Become Tutor') }}
        {% endif %}
        {{ buttons.red(url_for('auth.logout'), 'Log Out') }}
    </div>
</div>